@font-face {
    font-family: "Budmo";
    src: url("../style/Budmo_1.ttf");

}
@font-face {
  font-family: "quick";
  src: url("../style/Quicksand.otf");
}
@font-face {
    font-family: "Budmo2";
    src: url("../style/Budmo_2.ttf");

}


h1 {
  text-align: center;
  color: white;
  font-family: 'Budmo';
  font-size: 70px;
}

.first_row li {
  display: inline-block;
  position: center;
  margin: auto;}

.first_row li a {

margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
font-family: 'Budmo';
font-size: 40px;
display: inline-block;
text-decoration: none;
padding: 10px;
color: white;
max-height: 100px;
max-width: 250px;
border: solid;
position: center;
margin: 30px;

}

.first_row ul li a:hover
{
color: #FFD700; 
background-color: black;

}

.second_row li {
  display: inline-block;
  position: center;}

.second_row li a {

margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
font-family: 'Budmo';
font-size: 40px;
display: inline-block;
text-decoration: none;
padding: 10px;
color: white;
max-height: 100px;
max-width: 250px;
border: solid;
position: center;
margin: 30px;

}

.second_row ul li a:hover
{
color: #FFD700;
color: #FFD700; 
background-color: black;

}

.third_row li {
  display: inline-block;
  position: center;}

.third_row li a {

margin: auto;
padding: 0;
list-style-type: none;
text-align: center;
font-family: 'Budmo';
font-size: 40px;
display: inline-block;
text-decoration: none;
padding: 10px;
color: white;
max-height: 150px;
max-width: 250px;
border: solid;
position: center;
margin: 30px;

}

.third_row ul li a:hover
{

color: #FFD700; 
background-color: black;

}


body {

  background: no-repeat center center fixed;
  height: 100%;
  width: 100%;
  -webkit-animation: change-bg 30s ease infinite;
  animation: change-bg 30s ease infinite;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



@-webkit-keyframes change-bg{
  0%  { background-image: url('../images/RedCurtain.jpg');}
  25% { background-image: url('../images/ralph.jpg'); }
  50% { background-image:  url('../images/th.jpg');}
  75% { background-image: url('../images/stage.jpg'); }
  100% { background-image: url('../images/tm.jpg'); }
}
@-moz-keyframes change-bg{
  0%  { background-image: url('../images/RedCurtain.jpg'); }
  25% { background-image: url('../images/ralph.jpg'); }
  50% { background-image:  url('../images/th.jpg');}
  75% { background-image: url('../images/stage.jpg'); }
  100% { background-image: url('../images/tm.jpg'); }
}

.wrap {
  
  margin: auto;
}

@media { 
 html {margin: auto;}}