@font-face {
    font-family: "Budmo";
    src: url("../style/Budmo_1.ttf");
}

@font-face {
	font-family: "quick";
	src: url("../style/Quicksand.otf");
}


body {
	background: url("../images/th2.jpg") no-repeat;
	background-size: cover;
	-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center !important;
background-repeat: no-repeat !important;
background-attachment: fixed;
}
.wrap {
    width: 100%;
    

}

.floatleft {
    float:left; 
    background-color: #E0E0E0;
    width: 50%;
    color: black;
    height: 1000px;
    text-align: center;
    
    
}

.floatright {
	float: right;
    background-color: #660000;
    width: 50%;
    color: white;
    height: 1000px;
    text-align: center;
    
}
h1 {
	font-family: 'Budmo';
	font-size: 150px;
}

h2 {
	font-size: 35px;
	font-family: 'quick';
    
    letter-spacing: 5px

}
p {
	font-family: 'quick';
    
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;


}



.circular_1 {
	width: 250px;
	height: 250px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url("../images/tragedy4.jpg") no-repeat;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	color: black;

	}
.circular_2 {
	width: 250px;
	height: 250px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url("../images/comedy4.jpg") no-repeat;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	color: white;
	}
a { color: inherit; 
	font-size: 100px;
	font-family: 'Budmo';
	padding:15px;
	border: solid;} 
.hack {
	margin-top: 80px;
}
.dyi {
	margin-top: 80px;
}