@font-face {
    font-family: "Budmo";
    src: url("../style/Budmo_1.ttf");

}
@font-face {
	font-family: "quick";
	src: url("../style/Quicksand.otf");
}
@font-face {
    font-family: "Budmo2";
    src: url("../style/Budmo_2.ttf");

}
h1 {
	font-family: "Budmo";
	font-size: 110px;
	color: black;
	padding-left: 80px;
	padding-top: 1px;
	
}

ul li {
	list-style-type: none;
	display: inline-block;
	text-decoration: none;
	font-family: 'quick';
	padding: 20px;
  margin-right: 20px;

	
	
  }

  p {
  	font-size: 18px;
  }

body {
  	font-family: "quick";
  }
h2 {font-family: "Budmo2";
    font-size: 80px;}

a {text-decoration: none;
	color: #660000;
	font-weight: bolder;
  font-size: 20px;
	
	}

header {
	
	height: 200px;
	text-align: left;
	padding: 0.1px;

	background-color: #E0E0E0;
	
}

h3 {
	font-weight: bolder;
}



 .topcorner{
   position:absolute;
   top:0;
   right:0;
  }

.wrap {
    width: 100%;
   
   
}
  .picfix {
  	overflow: hidden;
  	float: left;
    margin-left: 40px;
    width: 45%;
  	margin-top: 40px;
    
    
  	
  }

  .what {
  	float: right;
  	width: 45%;
  	display: block;
  	margin-top: 10px;
    margin-right: 40px;
    height: 350px;
    
  }

  .about {
  	float: right;
  	width: 45%;
  	display: block;
   
    margin-right: 40px;
    
  }



  .twitter {
  	width: 45%;
  	float: right;
  	display: block;
    margin-right: 40px;
    border: solid;
    margin-top: 10px;
    padding-left: 15px;
	
  }
    .google {
  	float: left;
  	width: 45%;
  	display: block;
    margin-left: 40px;
    margin-top: 30px;
    border: solid;
    padding-left: 15px;
}


