<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style/apollo.css">
	
	<header>
		<title>APOLLO VICTORIA</title>

		<h1>APOLLO VICTORIA</h1>
	<div class="topcorner">
		<ul li>
			<li><a href="DIY.html">Home</a></li>
			<li><a target="_blank" href="http://www.atgtickets.com/shows/wicked-tickets/">Buy Tickets</a></li>
		</ul li>
	</div>	
	</header>
</head>

<body>
	<div class="wrap">
	<div class= "picfix">
		<img src="../static/images/wicked.jpg">
	</div>
	<div class="what">
		<h3>currently playing</h3>
			<h2>WICKED</h2>
	</div>
	<div class="about">
		<h3>synopsis<h3>
			<p>Wicked tells the story of two unlikely friends, Elphaba (the Wicked Witch of the West) and Glinda, who struggle through opposing personalities and viewpoints, rivalry over the same love-interest, reactions to the Wizard's corrupt government and, ultimately, Elphaba's public fall from grace.</p>
	</div>

	<div class="google">
		<h4>how to get there</h4>
		
	<iframe
  width="550"
  height="625"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCfXQSstVQLHJFhJORp_A5a0GEvn90v0sk
    &q=Apollo+Victoria,London+UK" allowfullscreen>
</iframe>
	

	

	</div>



	<div class="twitter">
		<h4>twitter #WickedUK<h4>

<a class="twitter-timeline" href="https://twitter.com/search?q=wicked%20uk" data-widget-id="710248565617135616">Tweets about wicked uk</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
</body>
</html>