<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style/DONMAR.css">
	
	<header>
		<title>DONMAR WAREHOUSE</title>

		<h1>DONMAR WAREHOUSE</h1>
	<div class="topcorner">
		<ul li>
			<li><a href="DIY.html">Home</a></li>
			<li><a target="_blank" href="http://www.atgtickets.com/shows/welcome-home-captain-fox/donmar-warehouse/">Buy Tickets</a></li>
			
		</ul li>
	</div>	
	</header>
</head>

<body>
	<div class="wrap">
	<div class= "picfix">
		<img src="../static/images/fox2.jpg">
	</div>
	<div class="what">
		<h3>currently playing</h3>
			<h2>WELCOME HOME, CAPTAIN FOX!</h2>
	</div>
	<div class="about">
		<h3>synopsis<h3>
			<p>Based on Jean Anouilh's hit 1937 play, Le Voyageur sans bagage, Welcome Home, Captain Fox! is a sparkling comedy of identity, lost and found. Playwright Anthony Weigh updates Anouilh's riotous family drama to a long, hot Summer, on the very tip of Long Island, in the America of the late 1950's.</p>
	</div>

	<div class="google">
		<h4>how to get there</h4>
		
	<iframe
  width="550"
  height="625"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCfXQSstVQLHJFhJORp_A5a0GEvn90v0sk
    &q=Donmar+Warehouse,London+UK" allowfullscreen>
	</iframe>
</div>

	<div class="twitter">
		<h4>twitter #welcomehomecaptainfox<h4>
	
	<a class="twitter-timeline" href="https://twitter.com/search?q=welcome%20home%20captain%20fox" data-widget-id="710196094198751233">Tweets about welcome home captain fox</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>



	
</div>
</body>
</html>