<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style/duke.css">
	
	<header>
		<title>DUKE OF YORK'S</title>

		<h1>DUKE OF YORK'S</h1>
	<div class="topcorner">
		<ul li>
			<li><a href="DIY.html">Home</a></li>
			<li><a target="_blank" href="http://www.atgtickets.com/shows/the-father/duke-of-yorks/">Buy Tickets</a></li>
		</ul li>
	</div>	
	</header>
</head>

<body>
	<div class="wrap">
	<div class= "picfix">
		<img src="../static/images/father.jpg">
	</div>
	<div class="what">
		<h3>currently playing</h3>
			<h2>THE FATHER</h2>
	</div>
	<div class="about">
		<h3>synopsis<h3>
			<p>Now eighty years old, Andre was once a tap dancer. He lives with his daughter Anne and her husband Antoine. Or was he an engineer whose daughter Anne lives in London with her new lover, Pierre? The thing is, he is still wearing his pyjamas and he can't find his watch. He is starting to wonder if he's losing control...</p>
	</div>

	<div class="google">
		<h4>how to get there</h4>
<iframe
  width="550"
  height="625"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA5THsX_uHifnlhXnBcAp-V0q1tS6ta8zQ
    &q=Duke+of+York's,LONDON+UK" allowfullscreen>
</iframe>

	</div>

	<div class="twitter">
		<h4>twitter #dukeofyork'sfather<h4>
	<a class="twitter-timeline" href="https://twitter.com/search?q=duke%20of%20york%27s%20father" data-widget-id="710257147997765633">Tweets about duke of york's father</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
</body>
</html>