<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style/fortune.css">
	
	<header>
		<title>FORTUNE</title>

		<h1>FORTUNE THEATRE</h1>
	<div class="topcorner">
		<ul li>
			<li><a href="DIY.html">Home</a></li>
			<li><a target="_blank" href="http://www.atgtickets.com/venues/fortune-theatre/">Buy Tickets</a></li>
		</ul li>
	</div>	
	</header>
</head>

<body>
	<div class="wrap">
	<div class= "picfix">
		<img src="../static/images/woman.jpg">
	</div>
	<div class="what">
		<h3>currently playing</h3>
			<h2>THE WOMAN IN BLACK</h2>
	</div>
	<div class="about">
		<h3>synopsis<h3>
			<p>A lawyer obsessed with a curse that he believes has been cast over him and his family by the spectre of a Woman in Black, engages a sceptical young actor to help him tell his terrifying story and exorcise the fear that grips his soul. It all begins innocently enough, but then, as they reach further into his darkest memories, they find themselves caught up in a world of eerie marshes and moaning winds.</p>
	</div>

	<div class="google">
		<h4>how to get there</h4>
<iframe
  width="550"
  height="625"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA5THsX_uHifnlhXnBcAp-V0q1tS6ta8zQ
    &q=Fortune+Theatre,London+UK" allowfullscreen>
</iframe>

	</div>

	<div class="twitter #thewomaninblacktheatre">
		<h4>twitter #WomanInBlack<h4>
<a class="twitter-timeline" href="https://twitter.com/search?q=woman%20in%20black%20london" data-widget-id="710257968663674880">Tweets about woman in black london</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


	</div>
</div>
</body>
</html>