<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style/harold.css">
	
	<header>
		<title>HAROLD PINTER</title>

		<h1>HAROLD PINTER</h1>
	<div class="topcorner">
		<ul li>
			<li><a href="DIY.html">Home</a></li>
			<li><a target="_blank" href="http://www.atgtickets.com/shows/sunny-afternoon/harold-pinter-theatre/">Buy Tickets</a></li>
		</ul li>
	</div>	
	</header>
</head>

<body>
	<div class="wrap">
	<div class= "picfix">
		<img src="../static/images/sunny.jpg">
	</div>
	<div class="what">
		<h3>currently playing</h3>
			<h2>SUNNY AFTERNOON</h2>
	</div>
	<div class="about">
		<h3>synopsis<h3>
			<p>Sunny Afternoon is the story of The Kinks' rise from life on a dead end street to living the rock star dream of fame, fortune and glory. It's a musical like no other, offering a real glimpse inside one of Britain's greatest bands, on a journey through the euphoric highs and agonising lows of pop success.</p>
	</div>

	<div class="google">
		<h4>how to get there</h4>
			<iframe
  width="550"
  height="625"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCfXQSstVQLHJFhJORp_A5a0GEvn90v0sk
    &q=Harold+Pinter+Theatre,London+UK" allowfullscreen>
</iframe>
	

	

	</div>

	<div class="twitter">
		<h4>twitter #SunnyAfternoon<h4>

<a class="twitter-timeline" href="https://twitter.com/search?q=kinks%20musical" data-widget-id="710259303635099648">Tweets about kinks musical</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			
			
	</div>
</div>
</body>
</html>