<!DOCTYPE HTML>
<html>
	<head>
        <header>
 		     <link rel="stylesheet" type="text/css" href="../static/style/index.css">

    <div class="socialbuttons">
    <ul li>
            <li><img src="../static/images/facebook.png"></li>
            <li><img src="../static/images/email.png"></li>
            <li><img src="../static/images/instagram.png"></li>
            <li><a target="_blank" href="https://twitter.com/TheatreHack_LDN"><img src="../static/images/twitter.png"></a></li>
    </ul li>
    </div>
 		
		<title>TheatreHack</title>
		
     
        </header>
	</head>
<body>
    <h1>theatre hack</h1>
    <meta charset="utf-8">        
    <a target="_blank" href="hackyourown.html" class="myButton">DISRUPT THEATRE</a>
    
    
</body>
</html>
