<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style/phoenix.css">
	<meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
	<header>
		<title>PHOENIX</title>

		<h1>PHOENIX THEATRE</h1>
	<div class="topcorner">
		<ul li>
			<li><a href="index.html">Home</a></li>
			<li><a target="_blank" href="http://www.atgtickets.com/shows/guys-and-dolls/phoenix-theatre/">Buy Tickets</a></li>
		</ul li>
	</div>	
	</header>
</head>

<body>
	<div class="wrap">
	<div class= "picfix">
		<img src="../static/images/guys.jpg">
	</div>
	<div class="what">
		<h3>currently playing</h3>
			<h2>GUYS AND DOLLS</h2>
	</div>
	<div class="about">
		<h3>synopsis<h3>
			<p>Nathan Detroit is desperate: he needs money for an illegal dice game, and he needs it fast. Not to mention a 14 year engagement with night-club singer Miss Adelaide whose patience is finally running out. Enter notorious gambler Sky Masterson, a guy who can never turn down a bet, and straight-laced missionary Sarah Brown, a doll with a heart of ice. The wager: Sky has to romance Sarah by taking her to Havana for dinner and in return he'll provide a dozen 'sinners'for Sarah's mission. Surely this is one bet Nathan absolutely can't lose?</p>
	</div>


	<div class="google">
		<h4>how to get there</h4>
	<iframe
  width="550"
  height="625"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCfXQSstVQLHJFhJORp_A5a0GEvn90v0sk
    &q=Pheonix+Theatre,London+UK" allowfullscreen>
</iframe>
	</div>


	<div class="twitter">
		<h4>twitter #Guysanddollsuk<h4>

<a class="twitter-timeline" href="https://twitter.com/search?q=guysanddollsuk" data-widget-id="710203697075195904">Tweets about guysanddollsuk</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
</body>
</html>