<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style/piccadilly.css">
	
	<header>
		<title>PICCADILLY THEATRE</title>

		<h1>PICCADILLY THEATRE</h1>
	<div class="topcorner">
		<ul li>
			<li><a href="DIY.html">Home</a></li>
			<li><a target="_blank" href="http://www.atgtickets.com/shows/jersey-boys/piccadilly-theatre/">Buy Tickets</a></li>
		</ul li>
	</div>	
	</header>
</head>

<body>
	<div class="wrap">
	<div class= "picfix">
		<img src="../static/images/jersey.jpg">
	</div>
	<div class="what">
		<h3>currently playing</h3>
			<h2>JERSEY BOYS</h2>
	</div>
	<div class="about">
		<h3>synopsis<h3>
			<p>They were just four ordinary guys from New Jersey, until they sang their very first note. They had a sound nobody had ever hearD... and the radio just couldn't get enough of. But while their harmonies were perfect on stage, off stage it was a very different story - a story that has made them an international sensation all over again.</p>
	</div>

	<div class="google">
		<h4>how to get there</h4>
<iframe
  width="550"
  height="625"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA5THsX_uHifnlhXnBcAp-V0q1tS6ta8zQ
    &q=PICCADILLY+THEATRE,LONDON+UK" allowfullscreen>
</iframe>

	</div>

	<div class="twitter">
		<h4>twitter #JerseyBoys<h4>
<a class="twitter-timeline" href="https://twitter.com/search?q=jersey%20boys%20musical%20" data-widget-id="710264837155262466">Tweets about jersey boys musical </a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	</div>
</div>
</body>
</html>