<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style/playhouse.css">
	
	<header>
		<title>PLAYHOUSE</title>

		<h1>PLAYHOUSE</h1>
	<div class="topcorner">
		<ul li>
			<li><a href="DIY.html">Home</a></li>
			<li><a target="_blank" href="http://www.atgtickets.com/shows/the-end-of-longing/playhouse-theatre/">Buy Tickets</a></li>
		</ul li>
	</div>	
	</header>
</head>

<body>
	<div class="wrap">
	<div class= "picfix">
		<img src="../static/images/longing.png">
	</div>
	<div class="what">
		<h3>currently playing</h3>
			<h2>THE END OF LONGING</h2>
	</div>
	<div class="about">
		<h3>synopsis<h3>
			<p>Meet Jack, Stephanie, Joseph and Stevie: four lost souls, entering their forties and searching for meaning. After sharing one raucous night together in a downtown Los Angeles bar, their lives become irreversibly entwined in a rollercoaster journey that forces them to confront the darker sides of their relationships.</p>
	</div>

	<div class="google">
		<h4>how to get there</h4>
<iframe
  width="550"
  height="625"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA5THsX_uHifnlhXnBcAp-V0q1tS6ta8zQ
    &q=Playhouse+Theatre,London+UK" allowfullscreen>
</iframe>

	</div>

	<div class="twitter #">
		<h4>twitter #TheEndOfLonging<h4>
<a class="twitter-timeline" href="https://twitter.com/search?q=the%20end%20of%20longing" data-widget-id="710265505484038144">Tweets about the end of longing</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	</div>
</div>
</body>
</html>