<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style/savoy.css">
	
	<header>
		<title>SAVOY THEATRE</title>

		<h1>SAVOY THEATRE</h1>
	<div class="topcorner">
		<ul li>
			<li><a href="DIY.html">Home</a></li>
			<li><a target="_blank" href="http://www.atgtickets.com/shows/funny-girl/savoy-theatre/">Buy Tickets</a></li>
		</ul li>
	</div>	
	</header>
</head>

<body>
	<div class="wrap">
	<div class= "picfix">
		<img src="../static/images/funny.jpg">
	</div>
	<div class="what">
		<h3>currently playing</h3>
			<h2>FUNNY GIRL</h2>
	</div>
	<div class="about">
		<h3>synopsis<h3>
			<p>Funny Girl is a 1964 musical with a book by Isobel Lennart, music by Jule Styne, and lyrics by Bob Merrill. The semi-biographical plot is based on the life and career of Broadway star, film actress and comedienne Fanny Brice featuring her stormy relationship with entrepreneur and gambler Nick Arnstein.</p>
	</div>

	<div class="google">
		<h4>how to get there</h4>
<iframe
  width="550"
  height="625"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA5THsX_uHifnlhXnBcAp-V0q1tS6ta8zQ
    &q=SAVOY+THEATRE,LONDON+UK" allowfullscreen>
</iframe>

	</div>

	<div class="twitter">
		<h4>twitter #FunnyGirl<h4>
<a class="twitter-timeline" href="https://twitter.com/search?q=funny%20girl%20savoy" data-widget-id="710201197106487299">Tweets about funny girl savoy</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	</div>
</div>
</body>
</html>