<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style/trafalgar1.css">
	
	<header>
		<title>TRAFALGAR STUDIOS 1</title>

		<h1>TRAFALGAR STUDIOS 1</h1>
	<div class="topcorner">
		<ul li>
			<li><a href="DIY.html">Home</a></li>
			<li><a target="_blank" href="http://www.atgtickets.com/shows/the-maids/trafalgar-studios/">Buy Tickets</a></li>
		</ul li>
	</div>	
	</header>
</head>

<body>
	<div class="wrap">
	<div class= "picfix">
		<img src="../static/images/maids.jpg">
	</div>
	<div class="what">
		<h3>currently playing</h3>
			<h2>THE MAIDS</h2>
	</div>
	<div class="about">
		<h3>synopsis<h3>
			<p>In a luxurious bedroom, two maids fantasize about killing their employer, playing out dangerous and sadistic scenarios as they plan her violent death. An intense psychological thriller seething with unique theatricality and brimming with intrigue, The Maids is a vicious analysis of the class system, and a provocative exploration of sexuality.</p>
	</div>

	<div class="google">
		<h4>how to get there</h4>
	<iframe
  width="550"
  height="625"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCfXQSstVQLHJFhJORp_A5a0GEvn90v0sk
    &q=Trafalgar+Studios1,London+UK" allowfullscreen>
</iframe>		

	</div>

	<div class="twitter">
		<h4>twitter #TheMaidsTrafalgar<h4>
<a class="twitter-timeline" href="https://twitter.com/search?q=the%20maids%20trafalgar" data-widget-id="710266962522345472">Tweets about the maids trafalgar</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
</body>
</html>