<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style/trafalgar2.css">
	
	<header>
		<title>TRAFALGAR STUDIOS 2</title>

		<h1>TRAFALGAR STUDIOS 2</h1>
	<div class="topcorner">
		<ul li>
			<li><a href="DIY.html">Home</a></li>
			<li><a target="_blank" href="http://www.atgtickets.com/shows/boris-world-king/trafalgar-studios/">Buy Tickets</a></li>
		</ul li>
	</div>	
	</header>
</head>

<body>
	<div class="wrap">
	<div class= "picfix">
		<img src="../static/images/world.jpg">
	</div>
	<div class="what">
		<h3>currently playing</h3>
			<h2>WORLD KING</h2>
	</div>
	<div class="about">
		<h3>synopsis<h3>
			<p>With his days as Mayor of London numbered, Britain's favourite comedy politician casts himself in another leading role: the star of his own West End show. This gaffe-a-minute comedy sees the thinking man's idiot wobbling on the brink of power.</p>
	</div>

	<div class="google">
		<h4>how to get there</h4>
	<iframe
  width="600"
  height="625"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCfXQSstVQLHJFhJORp_A5a0GEvn90v0sk
    &q=Trafalgar+Studios,London+UK" allowfullscreen>
</iframe>

	</div>

	<div class="twitter">
		<h4>twitter #BorisWorldKing<h4>

<a class="twitter-timeline" href="https://twitter.com/search?q=BorisWorldKing" data-widget-id="710233029298548737">Tweets about BorisWorldKing</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
</body>
</html>